body {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#formBasicEmail{
    width: 20vw;
}
 
#formBasicPassword{
    width: 20vw;
}

#formulario {
    margin-top: 50px;
}
 
Form{
    margin-left: 40%;
}

#pokemon-details {
    overflow: hidden !important;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    width: 620px;
    height: 300px;
    background-color: rgb(107, 171, 223);
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 15px 5px rgba(0,0,0,0.42); 
    box-shadow: 2px 2px 15px 5px rgba(0,0,0,0.42);
}

#title {
    text-align: center;
    margin-top: 50px;
    background: #00acf0;
    height: 90px;
    border-radius: 20px;
}